.container {
    width: 100%;
    height: 100%;
    background-color: #000000;
}

.uob_logo_image {
    max-width: 300px;
}

.qr_logo_image {
    max-width: 128px;
}

.bi_logo_image {
    max-width: 250px;
}

.qr_logo {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 0;
}

.right_logo {
    position: absolute;
    bottom: 25px;
    right: 20px;
    z-index: 0;
}

.left_logo {
    position: absolute;
    bottom: 65px;
    left: 50px;
    z-index: 0;
}

.svg_view {
    z-index: 5;
    position: absolute;
}

.node {
    stroke: #373935;
    fill: #998554;
    stroke-width: 2px;
}

.node_highlighted {
    stroke: #FFFFFF;
    fill: #02fd23;
    stroke-width: 2px;
}

.node_bristol {
    stroke: #373935;
    fill: #E63309;
    stroke-width: 2px;
}

.node_bristol_highlighted {
    stroke: #D2CFCD;
    fill: #f85a36;
    stroke-width: 2px;
}

.node_bath {
    stroke: #0b004d;
    fill:  #1e00c7;
    stroke-width: 2px;
}

.node_bath_highlighted {
    stroke: #D2CFCD;
    fill: #B3B1B1;
    stroke-width: 2px;
}

.node_london {
    fill: #0d3f00;
    stroke: #003100;
    stroke-width: 2px;
}

.node_london_highlighted {
    fill: #111111;
    stroke: #D2CFCD;
    stroke-width: 2px;
}

.node_selected {
    fill: #000000;
    stroke: #f85a36;
    stroke-width: 3px;
}

.link {
    /* Was white */
    stroke: #456991;
    stroke-width: 1px;
    stroke-opacity: 100%;
    fill: none;
}

.linkWeak {
    stroke: #324f6e;
    stroke-width: 1px;
    stroke-opacity: 100%;
    fill: none;
}

.linkIndirect {
    stroke: #b4b0b0;
    stroke-width: 2px;
    stroke-opacity: 100%;
    fill: none;
}

.linkInvisible {
    stroke: transparent;
    fill: none;
}

.linkWeak.highlight {
    stroke: #E63309;
    stroke-width: 2px;
    stroke-opacity: 100%;
    fill: none;
}

.linkIndirect.highlight {
    stroke: #E63309;
    stroke-width: 2px;
    stroke-opacity: 100%;
    fill: none;
}

.link_highlight {
    stroke: #E63309;
    stroke-width: 2px;
    stroke-opacity: 100%;
    fill: none;
}

.node_text {
    fill: #ccb885;
    font-size: 14pt;
    text-shadow: 2px 2px #000000;
    stroke-width: 0;
}

.node_text_highlight {
    fill: #FFFFFF;
    stroke-width: 0;
    text-shadow: 2px 2px #000000;
    font-size: 16pt;
    font-weight: 900;
}

.node_text_select {
    fill: #ffffff;
    text-shadow: 2px 2px #000000;
    stroke-width: 0;
    font-size: 22pt;
    font-style: italic;
    font-weight: 900;
}

@media only screen and (max-width: 1600px) {
    .node_text {
      font-size: 8pt;
    }

    .node_text_highlight {
      font-size: 8pt;
    }

    .node_text_select {
      font-size: 8pt;
    }

    .uob_logo_image {
        max-width: 150px;
    }

    .qr_logo_image {
        max-width: 64px;
    }

    .bi_logo_image {
        max-width: 125px;
    }
}

