
.box {
    text-align: center;
    color: white;
    max-width: 60%;
    margin: auto;
    background-color: black;
    height: 145px;
}

.textbox {
    padding: 5px;
    color: white;
    font-family: "Domine";
    font-size: 16pt;
    background-color: black;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .box {
        height: 50px;
    }
    .textbox {
      font-size: 8pt;
    }
  }

@media only screen and (min-width: 1200px) {
    .textbox {
      font-size: 22pt;
    }
  }