
.box {
    text-align: center;
    color: white;
    max-width: 60%;
    margin: auto;
    background-color: black;
    height: 145px;
}

.textbox {
    padding: 5px;
    color: white;
    font-family: "Domine";
    font-size: 22pt;
    background-color: black;
    height: 100%;
}

@media only screen and (max-width: 1600px) {
  .textbox {
    font-size: 12pt;
  }
}

@media only screen and (max-width: 600px) {
  .textbox {
    font-size: 10pt;
  }
}
